.headline {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-lg) {
    flex-direction: column;
  }
}

.headline__title {
  max-width: 240px;
  margin-right: 45px;
  margin-bottom: 0;
  color: #fafafa;
  font-size: 31px;
  font-style: italic;
  font-weight: 300;
  line-height: 36px;
  text-align: right;

  @media (min-width: $screen-lg) {
    max-width: none;
    margin-right: 0;
    margin-bottom: 36px;
    text-align: left;
  }

  strong {
    font-weight: 600;
  }
}
