$border-color: #bb221a;

.menu {
  padding-bottom: 3px;
  background-color: #a41b15;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.24);

  @media (min-width: $screen-lg) {
    padding-bottom: 0;
    border-radius: 8px 0 0 8px;
    box-shadow: none;
  }
}

.menu__logo {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    padding-top: 25px;
    padding-bottom: 22px;
  }
}

.menu__list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  @media (min-width: $screen-lg) {
    border-top: 1px solid $border-color;
  }
}

.menu__item {
  border-right: 1px solid $border-color;
  line-height: 0;

  &:last-child {
    border-right: none;
  }
}

.menu__icon {
  width: 18px;
  height: 16px;
  fill: #fff;
}

.menu__link {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s;

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    color: darken(#fff, 20%);
    text-decoration: none;

    .menu__icon {
      fill: darken(#fff, 20%);
      transition: all 0.2s;
    }
  }
}

.menu__text {
  display: none;

  @media (min-width: $screen-lg) {
    display: inline;
    margin-left: 5px;
  }
}
