.reviews {
  width: 100%;
  max-width: 430px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.18);

  @media (min-width: $screen-sm) {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 20px;

    .swiper-wrapper {
      flex-flow: column;
      transform: none !important;
    }
  }
}

.reviews__list {
  padding-left: 0;
  list-style: none;
}

.reviews__item {
  display: flex;
  padding: 20px 15px;
  font-size: 12px;
  line-height: 13px;

  @media (min-width: $screen-sm) {
    align-items: center;
    padding: 20px 25px;
  }
}

.reviews__avatar {
  overflow: hidden;
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.22);

  img {
    max-width: 100%;
    height: auto;
  }
}

.reviews__text {
  margin-bottom: 13px;
  color: #a0a0a0;
}

.reviews__info {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-sm) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.reviews__author {
  margin-bottom: 5px;
  color: #1a1919;
  font-weight: 700;

  @media (min-width: $screen-sm) {
    margin-bottom: 0;
  }
}

.reviews__date {
  color: #c9c9c9;
  font-weight: 600;
}

.reviews__tripadvisor {
  margin-top: 10px;
  text-align: center;

  @media (min-width: $screen-lg) {
    margin-top: 20px;
  }
}

.reviews__content {
  margin-right: 40px;
}

.reviews__rating {
  margin-bottom: 6px;
  line-height: 1;

  svg {
    width: 17px;
    height: 16px;
    fill: #fed137;
  }
}
