<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sushi-landing — KomilT</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="menu header__menu">
      <div class="logo menu__logo">
        <a href="#">
          <img src="/assets/img/logo.png" alt="Logo" />
        </a>
      </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">
            <svg class="menu__icon">
              <use href="#menu"></use>
            </svg>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            <svg class="menu__icon">
              <use href="#user"></use>
            </svg>
            <span class="menu__text">User</span>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            <svg class="menu__icon">
              <use href="#cart"></use>
            </svg>
            <span class="menu__text">Cart</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="header__inner">
        <div class="header__headline">
          <h1 class="header__title">Best delivery in <strong>Japanese cuisine</strong></h1>
          <form class="search" onsubmit="return false;">
            <input class="search__field" type="text" placeholder="Postcode" />
            <button class="button">
              <svg>
                <use href="#search"></use>
              </svg>
              Search
            </button>
          </form>
        </div>

        <div class="header__plate">
          <img src="/assets/img/plate.png" alt="">
        </div>
      </div>
    </div>
  </header>

  {{#block "body"}}
  {{/block}}

  <footer class="footer">
    <div class="socials">
      <div class="container">
        <ul class="socials__list">
          <li class="socials__item">
            <span>Follow us</span>
            <div class="socials__group-icons">
              <a href="#">
                <svg>
                  <use href="#facebook"></use>
                </svg>
              </a>
              <a href="#">
                <svg>
                  <use href="#instagram"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg class="mr-3">
                <use href="#phone"></use>
              </svg>
              <span>020 7287 5766</span>
            </a>
          </li>
          <li class="socials__item">
            <a href="#">
              <svg class="mr-3">
                <use href="#mail"></use>
              </svg>
              <span>info@sushi.co.uk</span>
            </a>
          </li>
          <li class="socials__item">
            <div class="socials__subscribe">
              <label for="subscribe-field">Subscribe our newsletter</label>
              <form class="form" onsubmit="return false;">
                <input class="form__field" id="subscribe-field" type="email" placeholder="E-mail" />
                <button class="button">Subscribe</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <svg>
        <use href="#heart"></use>
      </svg>
      <p>We Boomin © <span id="current-year"></span></p>
    </div>
  </footer>
</body>

</html>