.header {
  position: relative;
  z-index: 0;
  padding: 8rem 0;
  background-color: #000;

  @media (min-width: $screen-sm) {
    height: 400px;
    padding: 0;
  }

  @media (min-width: $screen-lg) {
    height: 480px;
  }

  .container,
  .header__inner {
    height: 100%;
  }

  .header__inner {
    position: relative;
  }
}

.header__video {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header__menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 7px;

  @media (min-width: $screen-lg) {
    right: 0;
  }
}

.header__headline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-sm) {
    top: 70px;
    flex-direction: row;
  }

  @media (min-width: $screen-lg) {
    top: 170px;
    flex-direction: column;
  }
}

.header__title {
  max-width: 240px;
  margin-bottom: 2rem;
  color: #fafafa;
  font-size: 31px;
  font-style: italic;
  font-weight: 300;
  line-height: 36px;
  text-align: right;

  @media (min-width: $screen-sm) {
    margin-right: 45px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg) {
    max-width: none;
    margin-right: 0;
    margin-bottom: 36px;
    text-align: left;
  }

  strong {
    font-weight: 600;
  }
}

.header__plate {
  position: absolute;
  bottom: -60px;
  left: 50%;
  display: none;
  width: 100%;
  background-image: url("/assets/img/plate.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);

  @media (min-width: $screen-sm) {
    display: block;
    max-width: 440px;
  }

  @media (min-width: $screen-lg) {
    right: -50px;
    left: auto;
    transform: none;
  }

  img {
    width: 100%;
    visibility: hidden;
  }
}
