.products {
  overflow: hidden;
  background-color: #fafafa;
}

.products__inner {
  position: relative;
  padding-top: rem(40px);
  padding-bottom: rem(80px);

  &::after {
    position: absolute;
    right: -140px;
    bottom: 0;
    display: block;
    width: 698px;
    height: 550px;
    background-image: url("/assets/img/products.png");
    background-position: right -100px bottom -300px;
    background-repeat: no-repeat;
    content: "";

    @media (min-width: $breakpoint-xl) {
      background-position: right -100px bottom -30px;
    }
  }

  @media (min-width: $breakpoint-sm) {
    padding-top: rem(100px);
  }

  @media (min-width: $breakpoint-xl) {
    padding-bottom: rem(220px);
  }
}

.products__title {
  margin-bottom: 40px;
  color: #401710;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.products__selector {
  margin-bottom: 50px;

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 60px;
  }
}
