@charset "utf-8";

/* Import order:
    1. abstracts
    2. vendors
    3. base
    4. layout
    5. components
*/

@import "abstracts/variables";

@import "base/reset";
@import "base/base";

@import "layout/grid";
@import "layout/about";
@import "layout/footer";
@import "layout/header";
@import "layout/products";

@import "components/assortment";
@import "components/button";
@import "components/form";
@import "components/instagram";
@import "components/logo";
@import "components/menu";
@import "components/reviews";
@import "components/search";
@import "components/selector";
@import "components/socials";
